<div>
	<h2>Power Rankings</h2>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 no-padding-left">
				<div class="form-group">
					<label for="week">Week</label> 
					<select class="form-control" ng-model="vm.search.week">
						<option
							ng-repeat="powerRanking in vm.powerRankings | unique: 'week' | orderBy:'week'"
							value="{{powerRanking.week}}"
							ng-selected="vm.powerRankings | max: 'week'">{{powerRanking.week}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
<!-- 				<tr jh-sort="vm.predicate" ascending="vm.reverse">  -->
<!-- 					<th jh-sort-by="rank"><span>Rank</span> <span class="glyphicon glyphicon-sort"></span></th> -->
					<th>Rank</th>
					<th>Team</th>
					<th>Commish's Comments</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="powerRanking in vm.powerRankings | filter:vm.search">
					<td>{{powerRanking.rank}}</td>
					<td>{{powerRanking.teamTeamName}}</td>
					<td ta-bind ng-model="powerRanking.comments"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
