<div>
    <h2>Power Rankings</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="power-ranking.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Power Ranking
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="week"><span>Week</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rank"><span>Rank</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comments"><span>Comments</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="team.teamName"><span>Team</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="season.year"><span>Season</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="powerRanking in vm.powerRankings track by powerRanking.id">
                    <td><a ui-sref="power-ranking-detail({id:powerRanking.id})">{{powerRanking.id}}</a></td>
                    <td>{{powerRanking.week}}</td>
                    <td>{{powerRanking.rank}}</td>
                    <td>{{powerRanking.comments}}</td>
                    <td>
                        <a ui-sref="team-detail({id:powerRanking.team.id})">{{powerRanking.team.teamName}}</a>
                    </td>
                    <td>
                        <a ui-sref="season-detail({id:powerRanking.season.id})">{{powerRanking.season.year}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="power-ranking-detail({id:powerRanking.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="power-ranking.edit({id:powerRanking.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="power-ranking.delete({id:powerRanking.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
